@import url('https://fonts.cdnfonts.com/css/minecraft-4');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('background.png');
    background-attachment: fixed;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* MS Edge */
    user-select: none;
}
.gui {
    z-index: 1;
    position: relative;
    top: -50px;
    left: -1000px;
    border: 1px solid #000;
    width: 350px;
    height: 400px;
    background-color: #333333;
}
.top-elements {
    margin-left: -60px;
    display: grid;
    grid-template-columns: repeat(2, 100px);
}
.close {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #808080;
    font-weight: bold;
    border: none;
}
.graphic {
    margin-left: -120px;
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}
.graphic button {
    cursor: pointer;
}
.graphic-title {
    vertical-align: super;
    margin-top: 12px;
    color: #fff;
}
.graphicBtn {
    font-weight: bold;
    width: 60px;
    height: 40px;
    background-color: #7289da;
    border: none;
    border-radius: 5px;
    transition: all 0.5s 0.3s;
}
.graphicBtn:hover {
    filter: brightness(150%);
    background-color: #b2c0f5;
}
#minecraft {
    width: 1762px;
    height: 908px;
    margin-top: 10px;
    border: 1px solid #000;
    background: url('sky.png');
}
#config {
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 80px;
    width: 250px;
    height: 370px;
    background-color: #4b4a4a57;
    padding-top: 100px;
}
.clouds {
    color: #fff;
    font-family: 'Minecraft', sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000;
    margin-top: -100px;
    margin-bottom: 10px;
    margin-left: 55px;
}
#launcher-link {
    color: #a6dda6;
    text-shadow: 1px 1px 1px #008000;
}
/* .cloudsFix {
    
} */
.player {
    z-index: 0;
    width: 80px;
    height: 130px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}
#creeper {
    z-index: 0;
    width: 180px;
    height: 180px;
    position: relative;
    top: -700px;
    left: 1500px;
    
    animation: creeperAnimation;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
#blazeElement {
    z-index: 0;
    width: 150px;
    height: 250px;
    position: relative;
    top: -750px;
    left: 1500px;
}
@keyframes creeperAnimation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100px);
        filter: brightness(500%);
    }
    100% {
        transform: translateX(0);
    }
}
.blocks {
    margin-top: 248px;
}
#grass_block1:hover,
#grass_block2:hover,
#grass_block3:hover,
#grass_block4:hover,
#grass_block5:hover,
#grass_block6:hover,
#grass_block7:hover,
#grass_block8:hover,
#grass_block9:hover,
#grass_block10:hover,
#grass_block11:hover,
#grass_block12:hover,
#grass_block13:hover,
#grass_block14:hover,
#grass_block15:hover,
#grass_block16:hover,
#grass_block17:hover,
#grass_block18:hover,
#grass_block19:hover,
#grass_block20:hover,
#grass_block21:hover,
#grass_block22:hover,
#grass_block23:hover,
#grass_block24:hover,
#grass_block25:hover,
#grass_block26:hover,
#grass_block27:hover,
#grass_block28:hover,
#grass_block29:hover,
#grass_block30:hover,
#grass_block31:hover,
#grass_block32:hover,
#grass_block33:hover,
#grass_block34:hover,
#grass_block35:hover,
#dirt1:hover,
#dirt2:hover,
#dirt3:hover,
#dirt4:hover,
#dirt5:hover,
#dirt6:hover,
#dirt7:hover,
#dirt8:hover,
#dirt9:hover,
#dirt10:hover,
#dirt11:hover,
#dirt12:hover,
#dirt13:hover,
#dirt14:hover,
#dirt15:hover,
#dirt16:hover,
#dirt17:hover,
#dirt18:hover,
#dirt19:hover,
#dirt20:hover,
#dirt21:hover,
#dirt22:hover,
#dirt23:hover,
#dirt24:hover,
#dirt25:hover,
#dirt26:hover,
#dirt27:hover,
#dirt28:hover,
#dirt29:hover,
#dirt30:hover,
#dirt31:hover,
#dirt32:hover,
#dirt33:hover,
#dirt34:hover,
#dirt35:hover,
#stone_block1:hover,
#stone_block2:hover,
#stone_block3:hover,
#stone_block4:hover,
#stone_block5:hover,
#stone_block6:hover,
#stone_block7:hover,
#stone_block8:hover,
#stone_block9:hover,
#stone_block10:hover,
#stone_block11:hover,
#stone_block12:hover,
#stone_block13:hover,
#stone_block14:hover,
#stone_block15:hover,
#stone_block16:hover,
#stone_block17:hover,
#stone_block18:hover,
#stone_block19:hover,
#stone_block20:hover,
#stone_block21:hover,
#stone_block22:hover,
#stone_block23:hover,
#stone_block24:hover,
#stone_block25:hover,
#stone_block26:hover,
#stone_block27:hover,
#stone_block28:hover,
#stone_block29:hover,
#stone_block30:hover,
#stone_block31:hover,
#stone_block32:hover,
#stone_block33:hover,
#stone_block34:hover,
#stone_block35:hover,
#stone_block36:hover,
#stone_block37:hover,
#stone_block38:hover,
#stone_block39:hover,
#stone_block40:hover,
#stone_block41:hover,
#stone_block42:hover,
#stone_block43:hover,
#stone_block44:hover,
#stone_block45:hover,
#stone_block46:hover,
#stone_block47:hover,
#stone_block48:hover,
#stone_block49:hover,
#stone_block50:hover,
#stone_block51:hover,
#stone_block52:hover,
#stone_block53:hover,
#stone_block54:hover,
#stone_block55:hover,
#stone_block56:hover,
#stone_block57:hover,
#stone_block58:hover,
#stone_block59:hover,
#stone_block60:hover,
#stone_block61:hover,
#stone_block62:hover,
#stone_block63:hover,
#stone_block64:hover,
#stone_block65:hover,
#stone_block66:hover,
#stone_block67:hover,
#stone_block68:hover,
#stone_block69:hover,
#stone_block70:hover,
#stone_block71:hover,
#stone_block72:hover,
#stone_block73:hover,
#stone_block74:hover,
#stone_block75:hover,
#stone_block76:hover,
#stone_block77:hover,
#stone_block78:hover,
#stone_block79:hover,
#stone_block80:hover,
#stone_block81:hover,
#stone_block82:hover,
#stone_block83:hover,
#stone_block84:hover,
#stone_block85:hover,
#stone_block86:hover,
#stone_block87:hover,
#stone_block88:hover {
    border: 1px solid #000;
    opacity: 0.6;
}
.grass-container {
    display: grid;
    grid-template-columns: repeat(22, 80px);
}
.grass_block {
    width: 80px;
    height: 80px;
}
.dirt-container {
    display: grid;
    grid-template-columns: repeat(22, 80px);
    margin-top: -6px;
}
.dirt {
    width: 80px;
    height: 80px;
}
.stone-container {
    display: grid;
    grid-template-columns: repeat(22, 80px);
    margin-top: -6px;
}
.stone-container2 {
    display: grid;
    grid-template-columns: repeat(22, 80px);
    margin-top: -6px;
}
.stone-container3 {
    display: grid;
    grid-template-columns: repeat(22, 80px);
    margin-top: -6px;
}
.stone-container4 {
    display: grid;
    grid-template-columns: repeat(22, 80px);
    margin-top: -6px;
}
.stone_block {
    width: 80px;
    height: 80px;
}
#hotbar {
    z-index: 1;
    position: relative;
    top: -150px;
    left: 500px;
    width: 500px;
    height: 50px;
}
.block {
    cursor: pointer;
    position: relative;
    top: -157px;
    width: 35px;
    height: 35px;
    z-index: 1;
}
#oak_plank {
    left: 10px;
}
#cobblestone {
    left: 27px; 
}
#stone {
    left: 42px; 
}
#tnt {
    left: 58px; 
}
#barrier {
    left: 72px; 
}
#oak_leaves {
    left: 88px; 
}
#dirt {
    left: 102px; 
}
#sandstone {
    left: 116px; 
}
@keyframes playerJump {
    from { transform: translateY(0);}
    to { transform: translateY(-160px);}
}
.jump {
    animation: playerJump;
    animation-duration: 0.5s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}
#clickedPlace {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
}
.message {
    position: relative;
    top: -375px;
    right: 1750px;
    font-size: 22px;
    color: #000;
}
.inventory-container {
    position: relative;
    left: -1200px;
}
.inventory-title {
    margin-left: 230px;
    color: #fff;
}
.gui-inventory {
    z-index: 1;
    position: relative;
    top: -50px;
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    background-color: #333;
}
.chat {
    z-index: 1;
    position: relative;
    top: -50px;
    border: 1px solid #000;
    width: 500px;
    height: 500px;
}
.blocks-display {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(4, 120px);
}
.blocks-display2 {
    margin-top: 25px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(4, 120px);
}
.b {
   position: relative;
   top: -150px; 
}
.blockDisplay {
    position: relative;
    top: 180px;
    cursor: pointer;
}
.block-info {
    border: 1px solid #000;
    background-color: #fff;
    width: 100px;
    position: relative;
    top: -140px;
    padding-left: 6px;
}
.block-nm {
    font-weight: bold;
}
.block-id {
    margin-left: 2px;
}
.coloredMessages {
    position: relative;
    top: -400px;
    right: 1750px;
    font-size: 22px;
}
#steveSkin, #skin1Skin, #alexSkin {
    width: 50px;
    height: 100px;
    border: 1px solid #000;
    background-color: moccasin;
    cursor: pointer;
}
#music-label span {
    margin-top: 10px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: middle;
}
#music-label input[type="range"] {
    margin-top: -35px;
    margin-left: 100px;
    display: inline-block;
    vertical-align: middle;
}
label {
    color: #fff;
}
.skinsGUI {
    display: grid;
    grid-template-columns: repeat(3, 122px);
}
.chooseSkin {
    margin-top: 15px;
    margin-left: -98px;
}
.chooseSkin h2 {
    margin-bottom: 10px;
}
#obsidianB {
    left: 132px;
}
#hotbarObsidian {
    z-index: 1;
    position: relative;
    top: -170px;
    left: 960px;
    color: #fff;
}
#fps-counter {
    position: fixed;
    top: 40px;
    left: 90px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
::selection {
    background-color: transparent;
    color: inherit;
}
@keyframes blazeMoving {
    50% {
        transform: translateX(-1500px);
    } 
    100% {
        transform: translateX(0);
    }
}
.blazeAnimation {
    animation: blazeMoving;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
#hp-display {
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    position: relative;
    left: 10px;
    top: 680px;
}
#nick {
    padding: 8px 16px;
    margin-bottom: 5px;
}
#serachForServersContainer {
    margin-top: 10px;
}
#serachForServersContainer button {
    padding: 8px 15px;
    cursor: pointer;
}
#menu {
    background-color: #333333c4;
    color: #fff;
    padding: 100px;

    z-index: 1;
    position: relative;
    top: -50px;
    left: -1000px;
    border: 1px solid #000;
    width: 350px;
    height: 450px;
}
#account-info {
    margin-top: -90px;
}
#player-pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
}
#menuUsernameDisplay {
    margin-left: 40px;
}
#pauseButton, #chatButton, #supriseButton {
    cursor: pointer;
    padding: 10px 15px;
}
#leftBTN {
    margin-left: 80px;
}
.mobileButton {
    z-index: 2;
    margin-top: 30px;
    width: 80px;
    height: 80px;
    background-color: grey;
    cursor: pointer;
}
#controlsStatus { cursor: pointer; }
#btnToggleControls {
    padding: 10px 20px;
}